{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/productEdit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.name)?$list.name:''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">原价</label>
        <div class="layui-input-block">
            <input type="text" name="price" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.price)?$list.price:''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">现价</label>
        <div class="layui-input-block">
            <input type="text" name="new_price" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="{:isset($list.new_price)?$list.new_price:''}" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品头图</label>
        <button type="button" class="layui-btn" id="test1">上传图片</button>
        <div class="layui-input-block">
            {if isset($list.image)}
            <img class="layui-upload-img" id="demo1" style="width: 30%;height: 30%" src="{php}echo Request::domain();{/php}/uploads/{:isset($list.image)?$list.image:''}">
            {else /}
            <img class="layui-upload-img" id="demo1" style="width: 30%;height: 30%">
            {/if}
            <input type="hidden" id="image_url" name="image_url" value="{:isset($list.image)?$list.image:''}">
            <p id="demoText"></p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">产品详情</label>
            <button type="button" class="layui-btn" id="test2">上传图片</button>
            <div class="layui-input-block">
                {if isset($list.detail)}
                <img class="layui-upload-img" id="demo2" style="width: 30%;height: 30%" src="{php}echo Request::domain();{/php}/uploads/{:isset($list.detail)?$list.detail:''}">
                {else /}
                <img class="layui-upload-img" id="demo2" style="width: 30%;height: 30%">
                {/if}
                <input type="hidden" id="detail" name="detail" value="{:isset($list.detail)?$list.detail:''}">
                <p id="Text"></p>
            </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'jquery', 'formSelects','upload','layedit'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery, upload = layui.upload,layedit = layui.layedit;


        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: "{:url('/admin/upload')}" //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $('#image_url').attr('value',res.data)
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test2'
            ,url: "{:url('/admin/upload')}" //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    $('#detail').attr('value',res.data)
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#Text');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });


</script>
{/block}