{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input searchVal" placeholder="请输入用户名称" />
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal adduser_btn" href="{:url('/admin/appexpload')}">下载</a>
            </div>
        </form>
    </blockquote>
    <table id="appointmentList" lay-filter="appointmentList"></table>
    <!--操作-->
    <script type="text/html" id="img">
        <div><img src="{php}echo Request::domain();{/php}/uploads/{{d.head_image}}" style="width:60px;height:60px"></div>
    </script>
    <script type="text/html" id="type">
        <div>
            {{#  if(d.type == 1){ }}
            上门勘察
            {{#  } }}
            {{#  if(d.type == 2){ }}
            方案设计
            {{#  } }}
            {{#  if(d.type == 3){ }}
            水路定位
            {{#  } }}
            {{#  if(d.type == 4){ }}
            安装调试
            {{#  } }}
            {{#  if(d.type == 5){ }}
            维护保养
            {{#  } }}
        </div>
    </script>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form','layer','laydate','table','laytpl'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            laytpl = layui.laytpl,
            table = layui.table;

        //用户列表
        var tableIns = table.render({
            elem: '#appointmentList',
            url : '/admin/appointment.html',
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            height : "full-125",
            id:'appointmentTable',
            cols : [[
                {field: 'id', title: 'id', width:60, align:"center"},
                {field: 'type', title: '类型', width:200,templet:'#type'},
                {field: 'nick_name', title: '用户昵称', width:200},
                {field: 'openid', title: '用户openid', width:200},
                {field: 'head_image', title: '用户头像', align:'center', width:200,templet:'#img'},
                {field: 'tel', title: '手机号', width:200,  align:'center'},
                {field: 'email', title: '用户邮箱', width:200,  align:'center'},
                {field: 'address', title: '用户地址',  align:'center'}
            ]]
        });

        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click",function(){
            if($(".searchVal").val() != ''){
                table.reload("appointmentTable",{
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        key: $(".searchVal").val()  //搜索的关键字
                    }
                })
            }else{
                layer.msg("请输入搜索的内容");
            }
        });
    })
</script>


{/block}
